<a href="https://colab.research.google.com/github/2305A21L52/3rd-year-EEE/blob/main/ass_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sets

In [ ]:
my_sets={"Dharani","3rd Year","EEE",19,True}
print(my_sets)

{True, '3rd Year', 19, 'EEE', 'Dharani'}

In [ ]:
#to make a sets
makeset=set(("Dharanisri",2005,False))
print(makeset)

{False, 'Dharanisri', 2005}

In [ ]:
print(len(my_sets))
print(type(my_sets))
print(all(my_sets))
print(any(my_sets))
print(enumerate(my_sets))

5
<class 'set'>
True
True
<enumerate object at 0x7bb21a0847c0>

In [ ]:
#sets doesn't allows duliplicates
Sets={"Kusuma","Dharani","Sri",19}
print(Sets)

{'Sri', 19, 'Kusuma', 'Dharani'}

In [ ]:
#but we can access data using for loop
for x in my_sets:
  print(x)

True
3rd Year
19
EEE
Dharani

In [ ]:
# addding elements in my_sets
my_sets.add("14/08/2005")
print(my_sets)

{True, '3rd Year', 19, '14/08/2005', 'EEE', 'Dharani'}

In [ ]:
# removing elements in my_sets
my_sets.remove("14/08/2005")
print(my_sets)

{True, '3rd Year', 19, 'EEE', 'Dharani'}

In [ ]:
#update elements in my_sets
my_sets.update("Lateral")
print(my_sets)

{True, 'Dharani', 'e', '3rd Year', 19, 't', 'a', 'r', 'l', 'L', 'EEE'}

In [ ]:
set1={"father number",9674562190,"others:",7645321093,9394950164}
set2={"mother number  ",9394950164}
setfinal=set1|set2
print(setfinal)
setintersection=set1&set2
print(setintersection)
setdifference=set1-set2
print(setdifference)

{9394950164, 7645321093, 'father number', 'others:', 9674562190, 'mother number  '}
{9394950164}
{'others:', 9674562190, 7645321093, 'father number'}

In [ ]:
#removing elements in my_sets
#But as it is unordered as random it remove the lat element in the set
my_sets.pop()
print(my_sets)

{'Dharani', 'e', '3rd Year', 19, 't', 'a', 'r', 'l', 'L', 'EEE'}

In [ ]:
print()

**Pyton** **Dictionaries**

In python 3.6 and earlier,dictionaries are unordered

as of python version 3.7 ,dictionaries are ordered

In [ ]:
mydict={"name":"K dharani sri ","date of birth":"14/08/2005","phone number":9876543210}
print(mydict["date of birth"])

14/08/2005

In [ ]:
print(type(mydict))
print(len(mydict))

<class 'dict'>
3

In [ ]:
#accessing data
mydict={"name":"K Dharani sri","date of birth":"14/08/2005","phone number":9876543210}
x=mydict["phone number"]
print(x)

9876543210

In [ ]:
#to get keys
x=mydict.keys()
print(x)

dict_keys(['name', 'date of birth', 'phone number'])

In [ ]:
#to get values
y=mydict.values()
print(y)

dict_values(['K Dharani sri', '14/08/2005', 9876543210])

In [ ]:
#to get items
z=mydict.items()
print(z)

dict_items([('name', 'K Dharani sri'), ('date of birth', '14/08/2005'), ('phone number', 9876543210)])

In [ ]:
#check if key exist
if "name"in mydict:
  print("yes,'name' is exist in the dict")

yes,'name' is exist in the dict

In [ ]:
#change values
mydict["phone number"]=939291316
print(mydict)

{'name': 'K Dharani sri', 'date of birth': '14/08/2005', 'phone number': 939291316}

In [ ]:
#update dictionaries
mydict.update({"date of birth":"03/05/2004"})
print(mydict)

{'name': 'K Dharani sri', 'date of birth': '03/05/2004', 'phone number': 939291316}

In [ ]:
#adding elements
mydict["qualification","branch","year"]="b.tech","EEE","3RD year"
print(mydict)

{'name': 'K Dharani sri', 'date of birth': '03/05/2004', 'phone number': 939291316, ('qualification', 'branch', 'year'): ('b.tech', 'EEE', '3RD year')}

In [ ]:
#removing element
del mydict["phone number"]
print(mydict)

{'name': 'K Dharani sri', 'date of birth': '03/05/2004', ('qualification', 'branch', 'year'): ('b.tech', 'EEE', '3RD year')}

In [ ]:
#pop element
mydict.popitem()
print(mydict)

{'name': 'K Dharani sri', 'date of birth': '03/05/2004'}

In [ ]:
for x in mydict:
  print(mydict[x])

K Dharani sri
03/05/2004

In [ ]:
for x in mydict.keys():
  print(x)

for x in mydict.values():
  print(x)

name
date of birth
K Dharani sri
03/05/2004

In [ ]:
for x,y in mydict.items():
  print(x,y)

name K Dharani sri
date of birth 03/05/2004